@using FhirBlaze.Pages;
<style>
    .bm-header[b-mwsrhhqq2g] {
        padding: 0 0 1rem 0 !important;
    }
</style>
<div>
    <p>Are you sure you want to delete patient?</p>

    <button @onclick="Ok" class="btn btn-primary">Ok</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    async Task Ok() => await BlazoredModal.CloseAsync(ModalResult.Ok("Ok"));
    async Task Cancel() => await BlazoredModal.CancelAsync(ModalResult.Ok("Cancel"));

}
