################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/azure-health-data-and-ai-samples/v17/.wsuo
/.vs/VSWorkspaceState.json
