################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/samples/.vs
/.vs/TS/v17
/.vs
/samples/fhir-empi-integration/empi-connector/EMPIShim/local.settings.json
