@page "/TranslateResource"
@using FhirBlaze.Model;
<style style=""></style>
<PageTitle>TranslateResource</PageTitle>
@inject HttpClient Http
<style>
    .btnstyle {
        /*width: 90px;*/
        background-color: #348ce5
    }

    .margintop {
        margin-top: 5px
    }

    .clsleft {
        width: 45%;
        float: left;
        /*margin-left: 2%;*/
    }

    textarea {
        width: 100%;
        min-height: 370px;
        padding: 5px;
        background: #f3f3f3;
        border-radius: 4px;
        resize: vertical;
        white-space: pre;
        word-wrap: normal;
    }

    div.clsright {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin-left: 2%;
    }

    .grid-container {
        display: grid;
        column-gap: 5px;
        row-gap: 5px;
    }

    textarea {
        resize: none;
    }

    .diff-panes {
        max-height: 400px !important;
        overflow: scroll !important;
    }

    .diff-expand-notice{
        display:none;
    }

    .line-text {
        white-space: normal !important;
    }
</style>

<form>
    <div>
        <div>
            <div class="row">
                <div class="col">
                    <h5 style="font-weight:bold">Search Patient Observation</h5>
                    <label>Find the latest observation details from FHIR.</label>
                </div>
            </div>
            <div class="row">
                <div class="d-flex">
                    <div class="col">
                        <input for="Firstname" class="form-control" placeholder="First name" @bind="@tsFhirModel.FirstName" style="width:150px" />
                    </div>
                    <div class="col">
                        <input for="Lastname" class="form-control" placeholder="Last name" @bind="@tsFhirModel.LastName" style="width:150px" />
                    </div>
                    <div class="col">
                        <input type="button" class="btn btn-primary btnstyle" value="Search" @onclick="SearchPatientObservations" style="width:80px" />
                    </div>
                    <div class="col">
                        <input type="button" class="btn btn-primary btnstyle" value="Translate Resource" @onclick="Translate" style="width:160px" />
                    </div>
                    <div class="col">
                        <input type="button" class="btn btn-primary btnstyle" value="Save" @onclick="SaveObservation" style="width:70px" />
                    </div>
                    <div class="col">
                        <input type="button" class="btn btn-primary btnstyle" value="Reset All" @onclick="ResetAllObservationsModal" style="width:90px" />
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    
    <div style="margin-top:2px">
        <div class="row">
            <div style="margin-right: -20px;" class="col-6">
                <label>Original Resource</label>
            </div>
            <div class="col">
                <label>Translated Resource</label>
            </div>
            
        </div>
    </div>
    <div>
        @if (tsFhirModel != null && (!string.IsNullOrEmpty(tsFhirModel.observationJson) || !string.IsNullOrEmpty(tsFhirModel.LookUpAndTranslateJson)))
        {
            <TextDiff ShowWhiteSpace=true OldText="@tsFhirModel.observationJson" NewText="@tsFhirModel.LookUpAndTranslateJson" CollapseContent="true" MaxHeight="350">
            </TextDiff>
        }
        
    </div>

</form>





